<footer class="footer">
    <div class="footer__grid">
        <div class="footer__grid_col">
            <h3 class="footer__grid_namecol">
                Chăm sóc khách hàng
            </h3>
            <ul class="footer__grid_list">
                <li class="footer__grid_item">Trung Tâm Trợ Giúp</li>
                <li class="footer__grid_item">Hướng Dẫn Mua Hàng</li>
                <li class="footer__grid_item">Thông Tin Đơn Hàng</li>
            </ul>
        </div>
        <div class="footer__grid_col">
            <h3 class="footer__grid_namecol">
                Giới thiệu
            </h3>
            <ul class="footer__grid_list">
                <li class="footer__grid_item">
                    Levents® - Popular Streetwear Brand
                </li>
            </ul>
        </div>
        <div class="footer__grid_col">
            <h3 class="footer__grid_namecol">
                Theo dõi chúng tôi
            </h3>
            <ul class="footer__grid_list">
                <li class="footer__grid_item">
                    <a href="" class="footer__list-item-link">
                        <i class="fab fa-facebook"></i>
                        Facebook
                    </a>
                </li>
                <li class="footer__grid_item">
                    <a href="" class="footer__list-item-link">
                        <i class="fab fa-instagram-square"></i>
                        Instagram
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__grid_col">
            <h3 class="footer__grid_namecol">
                Cửa hàng
            </h3>
            <ul class="footer__grid_list">
                <li class="footer__grid_item">842 Sư Vạn Hạnh, Phường 12, Quận 10, HCM</li>
                <li class="footer__grid_item">The New Playground, 04, Quận 1, HCM</li>
                <li class="footer__grid_item">54, Mậu Thân, Phường Xuân Khánh, Quận Ninh Kiều, Cần Thơ</li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="testcode">
            <div class="iamadd__text">
                <a href="" class="iamadd__text-test">CHÍNH SÁCH BẢO MẬT</a>
            </div>
            <div class="iamadd__text">
                <a href="" class="iamadd__text-test">QUY CHẾ HOẠT ĐỘNG</a>
            </div>
            <div class="iamadd__text">
                <a href="" class="iamadd__text-test">CHÍNH SÁCH VẬN CHUYỂN</a>
            </div>
            <div class="iamadd__text">
                <a href="" class="iamadd__text-test">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</a>
            </div>
        </div>
        <p class="footer__text">© 2023 - Bản quyền thuộc về Team 3TL</p>

</footer>