@model WebLevent.Models.SanPham

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm:"+ Model.Id;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"> <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a> </li>
    <li class="breadcrumb-item"> <a class="nav-link" asp-area="Admin" asp-controller="SanPhams" asp-action="Index">Quản lý sản phẩm</a> </li>
    <li class="breadcrumb-item active">Chỉnh sửa sản phẩm: @Model.Id</li>
</ol>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="SanPhams" asp-action="Edit" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateTimeCreate" value="@Model.DateTimeCreate"/>
            <div class="form-group">
                <h5>Tên sản phẩm:</h5>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Giá sản phẩm:</h5>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Mô tả sản phẩm:</h5>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Hình đại diện:</h5>
                <input name="fThumb" asp-for="Hinh" type="file" class="form-control" />
                <span asp-validation-for="Hinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Số lượng tồn:</h5>
                <input asp-for="SoLgTn" class="form-control" />
                <span asp-validation-for="SoLgTn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Loại sản phẩm:</h5>
                <select asp-for="LoaiId" class="form-control" asp-items="ViewBag.LoaiId"></select>
            </div>
            <div class="form-group m-1">
                <input type="submit" value="Lưu sản phẩm" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div class="m-1">
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
